.is-active {
  color: #59C3E1;
}
.draw {
  &-container {
    margin: 30px;
    height: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    .tool {
      padding: 10px;
      padding-top: 20px;
      border: 1px solid gainsboro;
      width: 40px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon {
        margin-bottom: 10px;
      }
      .icon:hover {
        cursor: pointer;
      }
    }
    .content {
      width: calc(100% - 45px);
      height: 100%;
      .contentItem-st {
        width: 49%;
        height: 100%;
        border-radius: 5px;
        border: 2px solid gray;
      }
      .activeContentItem-st {
        border: 2px solid rgb(89, 195, 225);
        border-radius: 5px;
        width: 49%;
        height: 100%;
      }
    }

  }

}


